repos:
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-mod-tidy

  - repo: https://github.com/golangci/golangci-lint
    rev: v2.6.1
    hooks:
      - id: golangci-lint-full

  - repo: local
    hooks:
      - id: update-readme-usage
        name: Update README usage section
        entry: ./update-readme-usage.sh
        language: script
        pass_filenames: false
